/*  your css code here. If applicable */
  #animal-photos{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .image-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
      }
      .image-container img{
        width: 260px;
        height: 200px;
        border: 1px solid rgba(177, 177, 177, 0.432);
        border-radius: 10px;
      }